spring.application.name: $app_name

server:
  port: $port
  servlet:
    contextPath: $contextPath

management:
  endpoints.web.exposure:
    include: $actuator_include
    exclude: $actuator_exclude
    endpoint.health:
      show-details: ALWAYS


spring.boot.admin.client:
  url: $springboot_admin_url
  username: $springboot_admin_user #this is for client to connect to server
  password: $springboot_admin_pwd
  instance:
#    service-base-url: $service_base_url
    prefer-ip: true
#    management-url: $service_base_url$contextPath
#    service-url: $self_url
#    metadata.user: #this is for server to be able to connect to client actuator APIs
#    name: ${spring.security.user.name}
#    password: ${spring.security.user.password}

logging:
  file.path: $logspath/logs_${HOSTNAME}/

spring:
  datasource:
    # Oracle Database
    oracle:
      jdbcUrl: $oracle_jdbc_url
      username: $oracle_username
      password: $oracle_password
      driver-class-name: oracle.jdbc.OracleDriver
    maxPoolSize: $oracle_maxPoolSize
    idleTimeOut: $oracle_idleTimeOut

security:
  header-name: $api_key_header
  api-key: $api_key

springdoc:
  api-docs:
    enabled: true
    path: '/api-docs'
  swagger-ui:
    path: '/swagger-ui'
    tagsSorter: alpha
